{% extends "base.html" %}

{% block menu %}
    {% if perms.article.add_article %}
        <li><a href="{% url "article:add" %}">Создать статью</a></li>
    {% endif %}

    {% if perms.article.change_article %}
        <li><a href="{% url "article:update" article.id %}">Редактировать статью</a></li>
    {% endif %}

    {% if perms.article.delete_article %}
        <li><a href="{% url "article:delete" article.id %}">Удалить статью</a></li>
    {% endif %}

    {% if perms.article.add_comment %}
        <li><a href="{% url "article:comment-create" article.id %}">Добавить Комментарий</a></li>
    {% endif %}
{% endblock menu %}

{% block page_header %}Статья {{ article.id }}{% endblock page_header %}

{% block content %}
    <p>Title: {{ article.title }}</p>
    <p>Author: {{ article.author }}</p>
    <p>Content: {{ article.content }}</p>
    <p>Tags: {% for tag in article.tags.all %}{{ tag.tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% if user.is_authenticated %}
    {% if article.pk in article_like %}
        <p><a data-articleCounter="counter{{ article.pk }}" onclick="unlikeArticle(event)" href="{% url "article:article_unlike" article.pk %}"><i class="fas fa-thumbs-up"></i></a></p>
    {% else %}
        <p><a data-articleCounter="counter{{ article.pk }}" onclick="articleLike(event)" href="{% url "article:article_like"  article.pk %}"><i class="far fa-thumbs-up"></i></a></p>
    {% endif %}
    {% endif %}
    <p id="counter{{ article.pk }}">
    {{ article.UserArticle.count }}
    </p>

    <h2>Comments:</h2>
    {% for comment in article.comments.all %}
        <p>{{ comment.author }}: {{ comment.comment }}</p>
            {% if comment.pk in comment_like %}
                <p><a data-commentCounter="counter_comment{{ comment.pk }}" onclick="unlikeArticle(event)" href="{% url "article:comment_unlike" comment.pk %}"><i class="fas fa-thumbs-up"></i></a></p>
            {% else %}
                <p><a data-commentCounter="counter_comment{{ comment.pk }}" onclick="articleLike(event)" href="{% url "article:comment_like"  comment.pk %}"><i class="far fa-thumbs-up"></i></a></p>
  <p id="counter_comment{{ comment.pk }}">
    {{ article.UserComment.count }}
    {% endif %}
    {% empty %}

    <p>Нет комментариев :(</p>
    {% endfor %}

{% endblock content %}

{#{% if comment.pk not in likes_comments %}#}
{#<a data-comment_counter="comment_counter{{ comment.pk }}" onclick="likeComment(event)" href="{% url 'article:like_comment' comment.pk %}"><i class="bi bi-heart"></i></a>#}
{#{% else %}#}
{#<a data-comment_counter="comment_counter{{ comment.pk }}" onclick="unlikeComment(event)"  href="{% url 'article:unlike_comment' comment.pk %}"><i class="bi bi-heart-fill"></i></a>#}
{#{% endif %}#}
{#<p id="comment_counter{{ comment.pk }}">{{ comment.like_comment.count }}</p>#}
{#    <div>#}
{#{% empty %}#}
