{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
   <div>
        <h1 class="padding-left: 20%;">we have many different types of our cars</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfoJLJS78PENKosPMQmzw9WD5QREzvcpAURA&usqp=CAU" alt=""> 
        <img style="padding-left: 50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOzLewJFAGFBd1YbfuVNgk2IgxdZ575Sbdfw&usqp=CAUU" alt="">
        <img style="padding-left: 50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBBwVz3lmwK4JJA1s8FEEd6BtXRz7g9PEUuQ&usqp=CAU" alt="">
   </div> 
</body>
</html>
