<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="A" type="A">
<input id="B" type="B">
<div id="container0">
    <input onclick="onClick(event)" data-url="{% url 'api_vi:add' %}" type="button" value="add">
</div>
<div id="container1">
    <input onclick="onClick(event)" data-url="{% url 'api_vi:subtract' %}" type="button" value="subtract">
</div>
<div id="container2">
    <input onclick="onClick(event)" data-url="{% url 'api_vi:multiply' %}"type="button" value="multiply">
</div>
<div id="container3">
    <input onclick="onClick(event)" data-url="{% url 'api_vi:devide' %}" type="button" value="divide">
</div>
<p id="result"></p>
</body>
</html>
<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    async function makeRequest(url, method='GET', body) {
        let headers={
            'X-CSRFToken': getCookie('csrftoken')
        }
    let response = await fetch(url, {method, headers:headers, body:body});

    if (response.ok) {  // нормальный ответ
        return await response.json();
    } else {            // ошибка
        let error = new Error(response.statusText);
        error.response = response;
        throw error;
    }
}
async function onClick(event) {
    event.preventDefault();
    let url = event.target.dataset.url
    console.log(url);
    let a = document.getElementById('A').value
    let b = document.getElementById('B').value
    let datas = {"A": a, "B":b}

   try {
       let data = await makeRequest(url,"POST", JSON.stringify(datas));
       console.log(data)

}
   catch (error) {
       console.log(error);
   }
}

async function getToken(){
    await makeRequest('http://localhost:8000/api_vi/get_csrf_token_view/')
}

window.addEventListener('load', getToken)

</script>
